@import 'reset';
@import url('https://fonts.googleapis.com/css?family=Bitter:400,700|Varela|Varela+Round');

/*
  VARIABLES
*/

/*Fonts*/
$font-bitter: 'Bitter', serif;
$font-varela: 'Varela', sans-serif;
$font-varela-round: 'Varela Round', sans-serif;

/*Colors*/
$main: #4D4382;
$dark: #252525;
$dark-alt: #303030;
$cat-one: #299EC3;
$cat-two: #EE6151;
$cat-three: #84C14F;
$cat-four: #5DCFF3;
$cat-five: #FCC44D;
$cat-six: #A99765;
$cat-palette: #299EC3, #EE6151, #84C14F, #5DCFF3, #FCC44D, #A99765;
$cat-palette-length: length($cat-palette);
/*
  DIMENSIONS
*/
$full-width: 940px;
$article: 620px;
$aside: 300px;

/*
  LAYOUT
*/
body{
  width: auto;
  font-family: $font-bitter;
  small{
    font-family: $font-varela-round;
    font-size: 12px;
  }
  h1 {
    font-weight: 700;
    font-size: 24px;
  }
  h2 {
    font-weight: 700;
    font-size: 20px;
  }
  h3 {
    font-weight: 700;
    font-size: 18px;
  }
  h4 {
    font-weight: 700;
    font-size: 16px;
  }
  h5 {
    font-weight: 700;
    font-size: 14px;
  }
}
img{
  max-width: 100%;
  height: auto;
}
main.main-content{
  width: $full-width;
  display: block;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

section{
  &.container{
    width: 100%;
  }
  &.article{
    float: left;
    overflow: hidden;
    width: $article;
    padding-right: 10px;
    margin-right: 10px;
  }
  &.main-carousel{
    width: 100%;
  }
}
.sidebar-container{
  float: right;
  width: $aside;
  overflow: hidden;
}
.category{
  max-width: 620px;
  overflow: hidden;
  padding: 10px 10px 10px 10px;
  margin: 20px 10px 20px 0px;
  &-first {
    border-left: 10px solid $cat-one;
  }
  &-second {
    border-left: 10px solid $cat-three;
    clear: both;
  }
  &-third {
    border-left: 10px solid $cat-two;
  }
  h3, h2{
    font-family: $font-bitter;
  }
}
.cat-head{
  padding: 20px;
  margin-bottom: 30px;
  > h1 {
    width: 50%;
    float: left;
  }
  > small {
    padding-top: 10px;
    float: right;
  }
}
.post-title{
  margin-top: 5px;
}
footer{
  background-color: $dark;
  clear: both;
}
/*
  POSTS
*/
.post{
  display: block;
  position: relative;
  width: 170px;
  float: left;
  margin-left: 20px;
  &-comments{
    float: right;
  }
}
@import "navigation";