/*
  http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Bitter:400,700|Varela|Varela+Round");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
  VARIABLES
*/
/*Fonts*/
/*Colors*/
/*
  DIMENSIONS
*/
/*
  LAYOUT
*/
body {
  width: auto;
  font-family: "Bitter", serif; }
  body small {
    font-family: "Varela Round", sans-serif;
    font-size: 12px; }
  body h1 {
    font-weight: 700;
    font-size: 24px; }
  body h2 {
    font-weight: 700;
    font-size: 20px; }
  body h3 {
    font-weight: 700;
    font-size: 18px; }
  body h4 {
    font-weight: 700;
    font-size: 16px; }
  body h5 {
    font-weight: 700;
    font-size: 14px; }

img {
  max-width: 100%;
  height: auto; }

main.main-content {
  width: 940px;
  display: block;
  position: relative;
  margin: 0 auto;
  overflow: hidden; }

section.container {
  width: 100%; }
section.article {
  float: left;
  overflow: hidden;
  width: 620px;
  padding-right: 10px;
  margin-right: 10px; }
section.main-carousel {
  width: 100%; }

.sidebar-container {
  float: right;
  width: 300px;
  overflow: hidden; }

.category {
  max-width: 620px;
  overflow: hidden;
  padding: 10px 10px 10px 10px;
  margin: 20px 10px 20px 0px; }
  .category-first {
    border-left: 10px solid #299EC3; }
  .category-second {
    border-left: 10px solid #84C14F;
    clear: both; }
  .category-third {
    border-left: 10px solid #EE6151; }
  .category h3, .category h2 {
    font-family: "Bitter", serif; }

.cat-head {
  padding: 20px;
  margin-bottom: 30px; }
  .cat-head > h1 {
    width: 50%;
    float: left; }
  .cat-head > small {
    padding-top: 10px;
    float: right; }

.post-title {
  margin-top: 5px; }

footer {
  background-color: #252525;
  clear: both; }

/*
  POSTS
*/
.post {
  display: block;
  position: relative;
  width: 170px;
  float: left;
  margin-left: 20px; }
  .post-comments {
    float: right; }

/*
  NAVIGATION
*/
.main-nav {
  background-color: #252525;
  top: 0; }

.secondary-nav {
  background-color: #4D4382;
  clear: both; }

.nav-wrapper {
  display: table;
  width: 940px;
  margin: 0 auto;
  overflow: auto;
  height: 50px; }

.pages {
  float: right; }
  .pages > ul {
    display: table;
    list-style: none;
    text-align: center;
    overflow: hidden; }

.nav > li {
  display: table-cell;
  vertical-align: middle;
  font-family: "Bitter", serif;
  height: 50px; }
  .nav > li > a {
    text-decoration: none;
    text-align: center;
    display: block;
    color: #ffffff;
    padding: 10px; }
.nav-main > li {
  vertical-align: middle;
  font-family: "Varela", sans-serif;
  font-size: 14px;
  padding-left: 5px; }
.nav-secondary {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px; }
  .nav-secondary > li {
    border-bottom: 3px solid; }
    .nav-secondary > li:nth-of-type(6n+1) {
      border-color: #299EC3; }
    .nav-secondary > li:nth-of-type(6n+2) {
      border-color: #EE6151; }
    .nav-secondary > li:nth-of-type(6n+3) {
      border-color: #84C14F; }
    .nav-secondary > li:nth-of-type(6n+4) {
      border-color: #5DCFF3; }
    .nav-secondary > li:nth-of-type(6n+5) {
      border-color: #FCC44D; }
    .nav-secondary > li:nth-of-type(6n+6) {
      border-color: #A99765; }
    .nav-secondary > li:hover:nth-of-type(6n+1) {
      background-color: #299EC3; }
    .nav-secondary > li:hover:nth-of-type(6n+2) {
      background-color: #EE6151; }
    .nav-secondary > li:hover:nth-of-type(6n+3) {
      background-color: #84C14F; }
    .nav-secondary > li:hover:nth-of-type(6n+4) {
      background-color: #5DCFF3; }
    .nav-secondary > li:hover:nth-of-type(6n+5) {
      background-color: #FCC44D; }
    .nav-secondary > li:hover:nth-of-type(6n+6) {
      background-color: #A99765; }

.brand {
  display: table-cell;
  vertical-align: bottom;
  float: left;
  height: 60%;
  font-size: 24px;
  font-family: "Bitter", serif;
  color: #ffffff;
  line-height: 50px;
  padding: 0px 15px 0px 15px; }

.logo, .search {
  float: right;
  height: 100%;
  padding: 0px 5px 0px 5px;
  margin: 0px 0px 0px 10px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .logo:hover, .search:hover {
    background-color: #303030; }
  .logo > img, .search > img {
    display: block;
    margin: auto; }

.logo {
  float: left;
  padding: 0px 2px 0px 2px;
  margin: 0; }

/*# sourceMappingURL=kenaz.css.map */
